#!/bin/bash -e

# Gluster Volume Create
gluster volume create volume1 replica 3 \
{% for host in groups['gfs'] %}
    {{ hostvars[host]['fqdn'] }}:/data/brick1/files \
{% endfor %}
    && touch /etc/glusterfs/volume1.created
